{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti cumque, a sunt aliquam dicta aut esse officia est blanditiis laudantium dolorem adipisci, veritatis quis quibusdam recusandae, soluta harum totam numquam?</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/vampi.png" alt="" class="img-thumbnail">
    </div>

</div>


{{> footer }}